body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container {
  background-color: hsl(216, 50%, 16%);
  /* border: 2px solid; */
  border-radius: 20px;
  max-width: 450px;
  height: 90vh;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}
.img-content {
  border-radius: 15px;
  max-height: 55%;
  margin: 20px 25px 0 25px;
}
.main-content {
  margin: 15px 25px 0;
  padding: 10px 0;
}
header {
  font-size: 1.7rem;
  font-weight: 600;
  color: white;
}
section > p {
  font-size: 1.2rem;
  width: calc(100% - 40px);
}
aside img {
  vertical-align: top;
}

aside {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.aside-1 {
  color: hsl(178, 100%, 50%);

  font-size: 1.2rem;
  font-weight: 600;
}
.aside-2 {
  justify-self: end;
  font-size: 1.2rem;
  margin-right: 5px;
  font-weight: 400;
}
.foot-content {
  margin: 20px 25px;
  display: flex;
  gap: 20px;
}
.foot-content img {
  border: 2px solid white;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  font-size: 0;
}
.foot-content p {
  font-size: 1.3rem;
  font-size: larger;
}
p span {
  font-weight: 600;
  color: hsl(0, 0%, 100%);
}
.author {
  font-family: "Times New Roman", Times, serif;
  color: whitesmoke;
  font-weight: 500;
  text-align: end;
  padding-right: 10px;
}
.author a {
  font-weight: 700;
  text-decoration: none;
}
@media (max-width: 550px) {
  body {
    background-color: hsl(217, 54%, 11%);
    font-size: 13px;
  }
  .container {
    margin: 30px auto
    max-width: 400px;
  }
}
